<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Team</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color: #32a36e; height: 150px;">
            <p class="mx-auto my-auto" style="font-size: 50px; color: #ffffffd7;"> Members</p>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row justify-content-center">

                    

                </div>
            </div>
            <div class="col-md-2"></div>

        </div>

    </div>
</body>
</html>